body {
	position: absolute;
}

p {
	line-height: 1.6em;
	font-size: 1em;
	margin-top: 0px;
	vertical-align:top;
	text-align: justify;
}

.small {
	line-height: 1.8em;
	font-size: 0.9em;
}

p.head{
	text-align:left;
}

p.head img {}

p.topimg {
	left: 0px;
	top: 88px;
	z-index: -1;
}

p.toptable {
	line-height: 1.2em;
	font-size: 0.9em;
	margin-top: 0px;
	margin-left: 3px;
	text-transform: lowercase;
	}

.contents1 {
	position: absolute;
	left: 0px;
	height: 250px;
	top: 252px;
	width: 250px;
}

.contents2 {
	width: 250px;
	position: absolute;
	left: 277px;
	height: 250px;
	top: 252px;
}

.contents3 {
	width: 250px;
	position: absolute;
	left: 552px;
	height: 250px;
	top: 252px;
}


.illbutton {
	border: 2px solid #FF0000;
	width: 63px;
}


.menu {
	top:-5px;
	height: 20px;
	position: relative;
	width: 800px;
	z-index: 2;
	}

.menu a {
	color: #000000;
	text-decoration: none;
	display: block;
	border:  solid 1px;
	line-height: 1.2em;
	border-color: #FFFFFF;
}

.menu a:hover {
	background-color: #999999;}


.menu span {
	color: #FF0000;
	display: none;
}

.menuhead1 {
	background-image:  url("img/tab1.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 132px;
}
.menuhead2 {
	background-image:  url("img/tab2-1.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 132px;
}.menuhead3 {
	background-image:  url("img/tab3-1.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 132px;
}.menuhead4 {
	background-image:  url("img/tab4-1.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 132px;
}.menuhead5 {
	background-image:  url("img/tab5-1.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 132px;
}
.menuhead6 {
	background-image:  url("img/tab6-1.jpg");
	background-repeat: no-repeatpadding: 7;
	height: 30px;
	width: 132px;
}
.submenu a{
	height: 30px;
	vertical-align: middle;
	text-align: center;
}

.submenu {
	position: absolute;
	background-color: #B0D88D;
	left: 0px;
	width: 134px;
	visibility: hidden;
}

#menu1{
	position:absolute;
	left:-1px;
	top:-4px;
	width: 132px;
}
#menu2{
	position:absolute;
	left:134px;
	top:-4px;
	width: 132px;
}
#menu3{
	position:absolute;
	left:267px;
	top:-4px;
	width: 132px;
	vertical-align: middle;
}
#menu4{
	position:absolute;
	left:400px;
	top:-4px;
	width: 132px;
}
#menu5{
	position:absolute;
	left:533px;
	top:-4px;
	width: 132px;
}
#menu6{
	position:absolute;
	left:666px;
	top:-4px;
	width: 132px;
}

address {
	color: #666666;
	border-top: solid 10px;
	border-top-color: #FF0000;
	left: 0px;
	width: 800px;
	position: absolute;
	margin-top: 40em;
}
.h3 {
	font-size: 16px;
	color: #FF0000;
	margin-left: 4px;
}
.dotrep {
	background-repeat: repeat-x;
	background-image:  url("img/dot.gif");
	height: 8px;
}
.toptable {
	margin-top: 10px;
	vertical-align: top;
	}
	
	form{
	text-align:left;
	border:solid 1px;
	padding:20px;
	margin-top:0px;
	width: 458px;
	background-repeat: no-repeat;
	vertical-align: middle;
	}
	form p{
	margin:0;
	font-size: .785em;
}

	form p{
	margin:0;
	font-size: .785em;
}
	
	td{vertical-align:top;
	padding-bottom:10px
	}
	table{text-align:left}
.fontblue {
	color: #0099CC;
}
.font_red120em {
	font-size: 1.2em;
	color: #CC0000;
}
.photo {
	float: right;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 0px;
}
.d_dot {
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #666666;
}
.d_bFF7000 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FF7000;
}
.m30lr {
	padding-right: 30px;
	padding-left: 30px;
}
h2 {
	margin: 0px;
}
.d_b168A4B {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #168A4B;
}
.d_bFC211D {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FC211D;
}
.small_11em {
	line-height: 1.8em;
	font-size: 0.9em;
}
.small10pix {
	line-height: 14px;
	font-size: 12px;
}
.d_b168A4Bdot {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #168A4B;
	width: 560px;
	padding-bottom: 0.5em;
	margin-top: -1em;
	line-height: 1em;
}
.backE0EAF4 {
	background-color: #E0EAF4;
	padding: 10px;
}
.d_bAB0032 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #AB0032;
}
