.class08   { font-size: 8px; line-height: 8px; font-family: "ÇlÇr ÉSÉVÉbÉN", "Times New Roman", Georgia, Times; text-decoration: none }
.class09  { font-size: 9px; line-height: 13px; font-family: "ÇlÇr ÉSÉVÉbÉN", "Times New Roman", Georgia, Times; text-decoration: none }
.class10  { font-size: 10px; line-height: 14px; font-family: "ÇlÇr ÉSÉVÉbÉN", "Times New Roman", Georgia, Times; text-decoration: none }
.class12  { font-size: 12px; line-height: 16px; font-family: "ÇlÇr ÉSÉVÉbÉN", "Times New Roman", Georgia, Times; text-decoration: none }
.class14  { font-size: 14px; line-height: 18px; font-family: "ÇlÇr ÉSÉVÉbÉN", "Times New Roman", Georgia, Times; text-decoration: none }
