#header {
	height:72px;
	display:block;
	background: #ffffff;
	padding: 0px;
	margin: 0 auto;
	width: 696px;
	text-align: center;
}
#header h2 {
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#header em {
	visibility: hidden;
}
#header a {
	text-decoration: none;
	display: block;
	width: 116px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}
#header h2#tn1 a {
	background: url(images/navi01_s.jpg) no-repeat;
}
#header h2#tn1 a:hover, #header h2#tn1 a:active {
	background: url(images/navi01_s_f2.jpg) no-repeat;
}
#header h2#tn2 a {
	background: url(images/navi02_s.jpg) no-repeat;
}
#header h2#tn2 a:hover, #header h2#tn2 a:active {
	background: url(images/navi02_s_f2.jpg) no-repeat;
}
#header h2#tn3 a {
	background: url(images/navi03_s.jpg) no-repeat;
}
#header h2#tn3 a:hover, #header h2#tn3 a:active {
	background: url(images/navi03_s_f2.jpg) no-repeat;
}
#header h2#tn4 a {
	background: url(images/navi04_s.jpg) no-repeat;
}
#header h2#tn4 a:hover, #header h2#tn4 a:active {
	background: url(images/navi04_s_f2.jpg) no-repeat;
}
#header h2#tn5 a {
	background: url(images/navi05_s.jpg) no-repeat;
}
#header h2#tn5 a:hover, #header h2#tn5 a:active {
	background: url(images/navi05_s_f2.jpg) no-repeat;
}
#header h2#tn6 a {
	background: url(images/navi06_s.jpg) no-repeat;
}
#header h2#tn6 a:hover, #header h2#tn6 a:active {
	background: url(images/navi06_s_f2.jpg) no-repeat;
}
body {
	background-color: #ffffff;
	margin:0px;
	padding:0px;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
	color: #333333;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px;
	font-family:verdana;
	font-size:12px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
	margin: 0px;
}
a:link, a:visited {
	COLOR:inherit;
	text-decoration:inherit;
}
#wapper {
	width:800px;
	margin: 0px auto;
	border: 0px solid #f0f0f0;
}
#navi01_s {
	margin-left:50px;
	margin-top:0px;
	width:116px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#navi02_s {
	margin-left:0px;
	margin-top:0px;
	width:116px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#navi03_s {
	margin-left:0px;
	margin-top:0px;
	width:1px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#ex02_1_r2_c5 {
	margin-left:0px;
	margin-top:0px;
	width:114px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#navi04_s {
	margin-left:0px;
	margin-top:0px;
	width:1px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#ex02_1_r2_c7 {
	margin-left:0px;
	margin-top:0px;
	width:115px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#navi05_s {
	margin-left:0px;
	margin-top:0px;
	width:116px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#navi06_s {
	margin-left:0px;
	margin-top:0px;
	width:116px;
	height:20px;
	margin-bottom:0px;
	float:left;
	display:inline;
}
#mainContent {
	width:696px;
	height:366px;
	display:block;
	background: url(images/mainCont.jpg) no-repeat;
	padding: 0px;
	margin: auto;
	clear: both;
}
#mainContent #info {
	border-bottom: 1px solid #CCCCCC;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	overflow: auto;
	height: 362px;
	display: block;
}
#mainContent #access {
	background: url(images/map.png) no-repeat center center;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 696px;
	height: 366px;
}
#mainContent #recrute {
	background: url(images/recrute.png) no-repeat;
	width: 666px;
	margin: 0px;
	padding: 20px 0px 0px 30px;
	height: 353px;
}




#mainContent #recrute table {
	width: 581px;
	margin-left: 30px;
	margin-top: 30px;
	_margin-top: 50px;

}
#mainContent #recrute tr {
	font-size: 10px;
}
#mainContent #info h2 {
	font: 20px/26px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	padding-top: 10px;
	border-bottom: 2px solid #CCCCCC;
}
#mainContent #info p {
	display: block;
	margin: 0px 10px;
	padding: 0px;
	font: 12px/20px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}
#mainContent #info table {
	margin-right: 10px;
	margin-left: 10px;
	font: 10px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}
#cont {
	margin: auto;
	padding: 0px;
	background: #FFFFFF;
	height: 600px;
	width: 730px;
}
#Div {
	border-bottom: 1px solid #CCCCCC;
	width:696px;
	display:block;
	background: #FFFFFF;
	margin: 6px auto;
	font: 7px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}
#wapper #cont #mainContent #block1 {
	font: 12px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	float: left;
	width: 33%;
	padding: 75px 0px 0px;
	margin: 1px;
	background: url(images/maincont_box_gra.png) no-repeat center bottom;
	height: 261px;
}
#wapper #cont #mainContent #block2 {
	font: 12px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	float: left;
	width: 33.1%;
	margin: 1px;
	padding: 75px 0px 0px;
	background: url(images/maincont_box_gra.png) no-repeat center bottom;
	height: 261px;
}
#mainContent #block2 li {
	line-height: 16px;
	color: #333333;
	list-style: circle;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#mainContent ul {
	font-size: 11px;
	line-height: 18px;
	margin: 0px;
	padding: 0px 5px 0px 25px;
}
#wapper #cont #mainContent #block3 {
	font: 12px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	float: left;
	width: 33%;
	margin: 1px;
	padding: 75px 0px 0px;
	background: url(images/maincont_box_gra.png) no-repeat center bottom;
	height: 261px;
}
#mainContent h2 {
	font: bold 13px/32px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #333333;
	margin: 0px 10px;
}
#cont #mainContent #footeritem {
	width: 516px;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	padding: 30px 30px 0px;
	margin: 0px 60px;
}
#cont #mainContent #footeritem h2 {
	text-align: center;
	color: #666666;
	font: bold 18px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}
#mainContent #footeritem p {
	font: 12px/20px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}
#mainContent #footeritem h3 {
	font: normal 12px/24px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	width: 250px;
	display: block;
	float: left;
	text-align: right;
	margin-top: 18px;
	padding-right: 0px;
}
#mainContent #footeritem h4 {
	font: normal 12px/24px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	width: 250px;
	display: block;
	float: right;
	padding: 0px;
	margin: 18px 0px 0px;
}
#mainContent p {
	font: 12px/16px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	margin: 0px 10px;
}
#pa  {
	font: normal 10px/16px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #66CCFF;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
	clear: both;
}
#pa2 {
	font: normal 10px/16px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #66CCFF;
	display: inline-block;
	clear: both;
	margin: 0px;
}
#pa3 {
	font: normal 10px/16px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #66CCFF;
	display: inline-block;
	clear: both;
	margin: 0px;
}
#pa1 {
	font: normal 10px/16px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #66CCFF;
	display: inline-block;
	clear: both;
	margin: 0px;
}
#Regular {
	height: 126px;
	width: 696px;
	margin: auto;
}
#Regular h2 {
	font: bold 11px/13px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	margin: 0px 0px 10px;
	padding: 0px;
	color: #333333;
}
#Regular #R_block1 {
	width: 216px;
	padding: 6px;
	float: left;
	font: 10px/14px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #333333;
	height: 108px;
	border-top: 1px #CCCCCC;
	border-right: 1px #CCCCCC;
	border-bottom: 1px #CCCCCC;
	border-left: 1px #CCCCCC;
}
#Regular #R_block2 {
	width: 220px;
	padding: 6px;
	float: left;
	font: 10px/14px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #333333;
	border: 1px solid #CCCCCC;
	background: #CCCCCC;
	height: 108px;
}
#Regular #R_block3 {
	width: 216px;
	padding: 7px;
	float: left;
	font: 10px/14px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #333333;
	height: 108px;
	border-top: 1px #CCCCCC;
	border-right: 1px #CCCCCC;
	border-bottom: 1px #CCCCCC;
	border-left: 1px #CCCCCC;
}
#footer {
	width:730px;
	height:23px;
	display:block;
	padding: 0px 0px 0px 0;
	clear: none;
	margin: 0px;
	font: 9px/24px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #FFFFFF;
	background: #9F9F9F;
}
#footer a:link {
	color: #FFFFFF;
}
#footer a:hover {
	color: #000000;
}
#footer h4 {
	font: 11px/20px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	width: 70px;
	border-left: 1px solid #FFFFFF;
	top: 0px;
	float: right;
	display: block;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 0px;
	right: 0px;
	overflow: visible;
	bottom: auto;
	clear: right;
}
#footer #copyright {
	float: left;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	font-size: 10px;
	display: inline-block;
}
#footer #site_map {
	float: right;
	font-size: 9px;
	color: #FFFFFF;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	margin: 0px;
	padding: 0px 10px;
	clear: none;
}
#footer #policy {
	float: right;
	font-size: 9px;
	color: #FFFFFF;
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	margin: 0px;
	padding: 0px 10px;
	clear: none;
}
#mainContent a:link {
	color: #66CCFF;
}
#mainContent a:hover {
	color: #FF3333;
}
#Regular a:link {
	color: #66CCFF;
}
#Regular a:hover {
	color: #FF3333;
}
#mainContent #staff #base1 {
	height: 363px;
	width: 696px;
	background: url(images/staff_base1.png) no-repeat center center;
	margin: 0px;
}
#staff #base1 img {
	float: left;
	margin: 45px 10px 0px 160px;
}
#mainContent #staff {
	margin: 0px auto;
	width: 712px;
	padding: 0px;
	height: 363px;
	overflow: auto;
}
#staff h1 {
	font: 14px/24px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid #666666;
	display: block;
}
#staff #base1 p {
	display: block;
	margin: 0px auto;
	padding: 0px;
	width: 370px;
	font: 12px/18px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	text-align: right;
}
#staff #base1 #footer2 {
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	bottom: 0px;
	width: 696px;
}
#staff h2 {
	font: bold 18px/26px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	margin: 0px;
	padding: 0px;
	display: block;
	width: 500px;
	color: #000000;
}
#staff #base1 #item {
	height: 150px;
	width: 374px;
	margin: 0px auto;
	padding-top: 34px;
}
#staff #base2 {
	height: 363px;
	width: 696px;
	background: url(images/staff_base2.png) no-repeat center center;
	margin: 0px;
}
#staff #base2 p {
	display: block;
	margin: 0px auto;
	padding: 0px;
	font: 10px/18px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	text-align: right;
}
#staff #base2 #item {
	height: 100px;
	width: 200px;
	margin: 0px 24px;
	padding-top: 10px;
}
#staff #base2 #footer2 {
	text-align: center;
	margin: auto auto 0px;
	padding: 0px;
	bottom: 0px;
	clear: both;
	width: 696px;
}
#staff #base2 h1 {
	font: 12px/18px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	margin: 0px;
	padding: 20px 0px 0px;
	border-bottom: 2px solid #666666;
	display: block;
	height: 18px;
}
#staff #base2 h2 {
	font: bold 14px/16px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	margin: 0px;
	padding: 10px 0px 0px;
	display: block;
	color: #000000;
	width: 150px;
}
#staff #base2 #item2 {
	width: 200px;
	margin: 0px auto 0px 24px;
	padding-top: 30px;
	float: left;
}
#staff #base2 #item3 {
	width: 150px;
	margin: 0px 0px 0px 10px;
	padding-top: 10px;
	float: left;
}
#staff #base2 #item_L24 {
	width: 150px;
	margin: 0px 0px 0px 24px;
	padding-top: 10px;
	float: left;
}
#staff #base2 h3 {
	font: 12px/18px "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	margin: 0px;
	padding: 10px 0px 0px;
	border-bottom: 1px solid #999999;
	display: block;
	height: 18px;
}
#staff #base2 #item2r {
	width: 200px;
	margin: 0px auto 0px 466px;
	padding-top: 30px;
	float: left;
}
#english {
	border: 1px solid #CCCCCC;
	width: 214px;
	display: block;
	text-align: right;
	height: 34px;
}
#english h2 {
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#english em {
	visibility: hidden;
}
#english a {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	display: block;
	width: 214px;
	height: 34px;
}
#english h2 {
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#english h2#tn1 a {
	background: url(images/English_s.png) no-repeat center center;
}
#english h2#tn1 a:hover, #english h2#tn1 {
	background: url(images/English_s_f2.png) no-repeat center center;
}

#staff #base2 #item2_r {
	width: 200px;
	margin: 0px auto 0px 134px;
	padding-top: 30px;
	float: left;
}
#staff #base2 #item3colam {
	width: 180px;
	margin: 0px 0px 0px 39px;
	padding-top: 10px;
	float: left;
}
#staff #base2 #item3_bb {
	width: 150px;
	margin: 0px 0px 0px 10px;
	padding-top: 20px;
	float: left;
}
